.root {
    -fx-background-color: black;
    -fx-background-image: url("../../../../../PianoLearn_1/app/src/main/res/drawable/background.jpg");
}

#PianoPane {
    -fx-background-color: #191919;
}

#mainMenuButton {
    -fx-background-color: #000000aa;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

#mainMenuButton:hover {
    -fx-background-color: black;
    -fx-pref-width: 170px;
    -fx-pref-height: 45px;
    -fx-font-size: 21px;
}

.choice-box {
    -fx-background-color: white;
    -fx-border-radius: 0px;
}

#logoTextLabel {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 70px;
}

.mainMenuButtons {
    -fx-background-color: #000000aa;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-pref-height: 60px;
    -fx-pref-width: 170px;
    -fx-border-radius: 0px;
}

.label {
    -fx-text-fill: black;
    -fx-font-size: 15px;
}

#HandBookPane {
    -fx-background-color: black;
}

.mainMenuButtons:hover {
    -fx-background-color: black;
    -fx-font-size: 25px;
    -fx-pref-height: 70px;
    -fx-pref-width: 200px;
}

.mainMenuButtons:pressed {
    -fx-background-color: dimgrey;
}

.WhiteNote {
    -fx-pref-width: 65px;
    -fx-pref-height: 280px;
    -fx-background-radius: 0px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-wrap-text: true;
}

.WhiteNote:hover {
    -fx-background-color: gray;
}

.WhiteNote:pressed {
    -fx-background-color: white;
}

.BlackNote {
    -fx-background-color: black;
    -fx-background-radius: 0px;
    -fx-pref-width: 28px;
    -fx-pref-height: 120px;
    -fx-text-fill: white;
    -fx-wrap-text: true;
}

.BlackNote:hover {
    -fx-background-color: grey;
}

.BlackNote:pressed {
    -fx-background-color: #00000000;
}

.labelHandBook {
    -fx-text-fill: white;
}

.ImgBackground {
    -fx-background-color: #000000aa;
}

#showAccordButton {
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#showAccordButton:hover {
    -fx-background-color: dimgrey;
}